* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #abd957;
}

.container {
    display: flex;
    padding: 1.25rem;
    background-color: #abd957;
}

.options {
    width: 30%;
    padding: 1rem 0 0 4rem;
}


.bowl-area {
    width: 70%; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.bowl {
    background-color: #ffe9db;
    position: relative;
    width: 25rem;
    height: 25rem;
}

.bowl img.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bowl-layer {
    top: 1.7rem;
    left: 1.7rem;
    width: 21.875rem;
    height: auto;
}

#broth1-layer {
    top: 3rem;
    left: 3.1rem;
    width: 19rem;
    height: auto;
}

#noodles1-layer {
    top: 3rem;
    left: 3rem;
    width: 19rem;
    height: auto;
}

#noodles2-layer {
    top: 4rem;
    left: 4rem;
    width: 16rem;
    height: auto;
}

#egg1-layer {
    top: 11rem;
    left: 4rem;
    width: 9.375rem;
    height: auto;
}

#egg2-layer {
    top: 12rem;
    left: 5rem;
    width: 8.75rem;
    height: auto;
}

#topping1-layer {
    top: 5rem;
    left: 6rem;
    width: 9.375rem;
    height: auto;
}

#topping2-layer {
    top: 4rem;
    left: 5.5rem;
    width: 9rem;
    height: auto;
}

#meat1-layer,
#meat2-layer,
#meat3-layer {
    top: 9rem;
    left: 12rem;
    width: 9.375rem;
    height: auto;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
}



#bowlName {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.download-button {
    background-color: #ffcc00;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.download-button:hover {
    background-color: #ff9900;
}

.button-image {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

